{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "max-len": [1, 120, 2, {ignoreComments: true}],
    "prop-types": [0],
    "no-unused-vars": [0]
  },
  "extends": ["airbnb-base"]
}
