body {
  font-family: Roboto, sans-serif;
}

.tableRow {
  height: 60px;
}

.trackIcons {
  position: relative;
}

.trackIcons:hover .playingTrackIcon {
  display: none;
}

.tableRow:hover .playTrackIcon {
  opacity: 1;
  margin-left: 5px;
}

a {
  text-decoration: none;
  color: black;
  transition: color 0.2s;
}

a:hover {
  color: #adadad;
}

.tableRow:hover .indexTrackIcon {
  display: none;
}

.playingTrackIcon {
  display: block;
}

.playTrackIcon {
  opacity: 0;
  margin-left: 0;
  transition: opacity 0.3s, transform 0.03s, margin-left 0.3s, ease-in-out;
}

.pauseTrackIcon {
  display: none;
}

.indexTrackIcon {
  position: absolute;
  display: block;
  top: 5px;
  font-size: 26px;
}

.trackIcons:hover .playTrackIcon {
  transform: scale(1.2, 1.2);
}

.trackIcons:hover .pauseTrackIcon {
  display: block;
}

.player {
  transition: bottom 0.2s, height 0.1s;
  -webkit-transition: bottom 0.2s, height 0.1s;
  transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
}

.nowPlayingContainer {
  transition: height 0.1s;
  -webkit-transition: height 0.1s;
  transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
}

.trackImageExpandIcon {
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.trackImageExpandIcon__onHover {
  opacity: 0.8;
}
